.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 97%;
    margin-left: 1.5%;
    height: 100%;
    margin-top: 2.5%;
    padding-bottom: 40px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  
  .title1 {
    padding-top: 28px;
    font-size: medium;
    font-weight: 400;
    padding-left: 23px;
  }
  
  .electino {
    padding-bottom: 10px;
  }
  
  .single-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-left: 1.5%;
    height: 100%;
    margin-top: 2.5%;
    padding-bottom: 40px;
  }
  
  .img-candi {
    text-align: center;
    border: 1px solid grey;
  }
  
  .pic {
    border-radius: 50%;
    width: 255px;
    height: 355px;
    text-align: center;
  }
  
  .candi-name {
    margin-left: 20px;
    font-size: 25px;
  }
  
  .desc {
    margin-left: 20px;
    padding: 0px;
  }
  .sompad{
      padding-left: 20px;
      padding-top: 20px;
      padding-right: 20px;
  }