<div class="ui-g-12 ui-g-nopad">
  <div class="card ui-g-3">
    <p class="title1"> Candidate Photo</p>
    <div class="container">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 img-candi">
          <img [src]="imgval" class="pic">
        </div>
        <div class="ui-g-12 ">
          <div class="ui-g ui-g-nopad">
            <div>
                <input type="file" style="display: none" (change)="onFileChanged($event)"  #fileInput>   
              <button pButton (click)="fileInput.click()" type="button" label="Upload Image" class="ui-button-raised">
               
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card ui-g-8">
    <p class="title"> Candidate Registeration</p>
    <div class="container">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12">
            <div>
              <div class="electino">Candidate Name/ Vote Item Name</div>
              <div class="ui-g-8 ui-md-8 ui-g-nopad">
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">
                      <i class="fa fa-user"></i>
                    </span>
                    <input type="email" pInputText placeholder="Name"  [(ngModel)]="name">
                  </div>
                </div>
            </div>
            <div class="ui-g-12 electino ui-g-nopad">
                <div class="description">Description</div>
                <div class="ui-g-8 ui-md-8 ui-g-nopad">
                    <div class="ui-inputgroup">
                        <textarea rows="20" cols="300"  pInputTextarea autoResize="autoResize" [(ngModel)]="description" ></textarea>
                    </div>
                  </div>
            </div>
            <div class="ui-g-8 ui-md-8">
                <div>
                  <div class="electino">Election to vote</div>
                  <p-dropdown [options]="electionList" [(ngModel)]="selectedElection"></p-dropdown>
                </div>
              </div>
              <div class="ui-g-12 ui-g-nopad"></div>
              <div class="ui-g-3 ui-md-3">
                  <div>
                    <button pButton type="button" label="Add to election" class="ui-button-raised" (click)="addCandidate()"></button>
                  </div>
                </div>
          </div>
      </div>
    </div>
  </div>
</div>