/* You can add global styles to this file, and also import other style files */
html,body {
    height: 100%;
    
}
 #addvotercard .ui-menu .ui-menuitem {
    margin: 10px;
    padding: 10px;
    border: 1px white solid;
}
#addvotercard .ui-menuitem-text {
    color: white !important;
}
#addvotercard .ui-menuitem-icon {
    color: white !important;
}
#addvotercard .ui-menu {
    width: 100% !important;
    padding: 29px;
    height: 712px !important;
    background-image: linear-gradient(2deg,#5c2774, #335cc5, #637ffd);
}
body .ui-menu .ui-menuitem-link:hover {
    background-color: #ff0000 !important;
}
@font-face {
    font-family: 'YourFontName'; /*a name to be used later*/
    src: url('/assets/font/roboto.ttf'); /*URL to font*/
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'lato', 'arial', sans-serif;
  }